@import '_reset.scss';

$color-darkest-gray: #222;
$color-white: #fff;

body {
  background-color: $color-darkest-gray;
  color: $color-white;
}

a {
  color: #9f9;
  text-decoration: none;

  &:hover {
    background: #9f9;
    color: #000;
  }
}