---
permalink: 'humans.txt'
---
# humanstxt.org/
# The humans responsible & technology colophon

# AUTHOR

    George Merlocco / george@merloc.co

# THANKS

    CSS CRT screen effect - Lucas Bebber (https://codepen.io/lbebber/pen/XJRdrV)
    CSS Scanlines - Mehdi (https://codepen.io/meduzen/pen/zxbwRV)
    CSS Rocker Switches - Kris Tarling (https://codepen.io/kristarling/pen/WwPovb)

# TECHNOLOGY COLOPHON

    11ty (https://www.11ty.io/)
    Sass/SCSS (https://github.com/sass/node-sass)
    Webpack (https://webpack.js.org/)
    Babel (https://babeljs.io/)
    light-server (https://github.com/txchen/light-server)
    PostCSS (https://postcss.org/)
    CSSnano (https://cssnano.co/)
    Autoprefixer (https://github.com/postcss/autoprefixer)
